<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<link th:href="@{main.css}" rel="stylesheet" />
</head>
<body>

	<ul>
		<li class="logo"><img src="logo.png" alt="logo" class="logo-image"></li>
		<li><a href="/logout">Logout</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/reports_page">Reports</a></li>
		<li><a href="/expense_page">Expense</a></li>
		<li><a href="/income_page">Income</a></li>
		<li><a href="/budget_page">Budget</a></li>
		<li><a class="active" href="/index">Home</a></li>
	</ul>

	<div align="center">
		<br><br><br>
		<h1>Welcome to Budget Helper!</h1><br>
		<p>Budget Helper is an efficient and effective tool that will help
			you track transactions, create budgets, and analyze your financial
			habits.</p><br>
		<p>You can navigate the tools using the menu bar at the top, or
			click the button below for a quick start to setting up a budget.</p><br>
		<p class="bold">Note: You will have to log in before being able to see other pages!</p><br><br>
		<button class="button" onclick="document.location='/budget_page'">Set
			Up a Budget</button>
	</div>
</body>
</html>